#adres {
    white-space: pre;
}

.nav_element{
    text-decoration: none;
    color: black;
  }
.baner_elemen {
    display: inline-block;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.baner_elemen:hover {
    background: rgb(22, 137, 22);
    cursor: pointer;
    color: white;
}



.baner_elemen {
    font-size: 25px;
    padding-left: 40px;
    font-family: sans-serif;
    border: 2px solid rgb(22, 137, 22);
    text-decoration: none;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
    padding: 5px 10px;
}

.baner{
    border-bottom: 1px solid rgb(22, 137, 22);
    padding-top: 10px;
}

.logo-image{
    width: 150px;
}

@media (max-width: 420px) {
    #adres{
        font-size: 14px;
    }
    #logo_img{
        width: 250px;
    }
    .logo-image{
        width: 100px;
    }
}

@media (max-width: 400px) {
    #adres{
        font-size: 13px;
    }
    #logo_img{
        width: 250px;
    }
    .logo-image{
        width: 100px;
    }
}

@media (max-width: 300px) {
    #adres{
        font-size: 10px;
    }
}

.custom-hamburger{
    border-color: rgb(22, 137, 22);
    margin: 20px;
  }

  .baner_elemen{
    margin: 10px;
  }



